<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>
      Rango - 
      {% block title_block %} 
      How to Tango with Django! 
      {% endblock %}
    </title>
  </head>

  <body>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
    <hr />
    <div>
   <ul>
      {% if user.is_authenticated %}
        <!-- Show these links when the user is logged in -->
        <li><a href="{% url 'rango:restricted' %}">Restricted Page</a></li>
        <li><a href="{% url 'rango:logout' %}">Logout</a></li>
        <li><a href="{% url 'rango:add_category' %}">Add New Category</a></li>
      {% else %}
      <!-- Show these links when the user is NOT logged in -->
        <li><a href="{% url 'rango:register' %}">Sign Up</a></li>
        <li><a href="{% url 'rango:login' %}">Login</a></li>
      {% endif %}
      <!-- Outside the conditional statements, ALWAYS show -->    
        <li><a href="{% url 'rango:about' %}">About</a></li>
        <li><a href="{% url 'rango:index' %}">Index</a></li>
    </ul>
</div>
  </body>
</html>
