{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
        <div>
           {% if user.is_authenticated %}
                howdy {{ user.username }}! <br />
            {% else %}
                hey there partner! <br />
            {% endif %}
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
            {% if categories %}
                <h2>Most Liked Categories</h2>
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>

        <div>
            {% if pages %}
                <h2>Most Viewed Pages</h2>
                <ul>
                    {% for page in pages %}
                    <li>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no pages present.</strong>
            {% endif %}
        </div>

        <div>
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
        </div>
{% endblock %}